.login-left {
  background-color: var(--yellow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 6rem 2rem;

  .school-logo {
    width: 14rem;
    height: 14rem;
    background-color: var(--white-color);
    border-radius: 100rem;
    padding: 1rem;
    border: 0.4rem solid #d2d2d2;

    img {
      width: 100%;
    }
  }

  .login-left_title {
    text-align: center;
    color: var(--green-color);
    font-size: 2.4rem;
  }
}

.login-right {
  padding: 1.5rem;

  .login-right_title {
    text-align: center;
    color: var(--green-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 2.8rem;
    font-size: 2.6rem;
  }

  .hotline {
    margin-top: 3.2rem;
    text-align: right;
  }
}

.login-right_bottom {
  margin-top: 10rem;
}
.login-right_bottom_left {
  table,
  .ant-table-cell {
    border-color: black !important;
  }
}

.login-form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 50rem;
}
